.mae {
    width: 100px;
    height: 100px;
    background-color: rgb(150, 46, 46);    

}

.filha {
    width: 50px;
    height: 50px;
    background-color: rgb(161, 163, 27);
    margin-top: 10px;
    color: blanchedalmond;
    text-align: center;
   
}



